.bg-white {
  background-color: #fff !important;
}

.page-background {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  height: 70px;
  background-size: cover;
  z-index: -999;
  overflow: hidden;
}

.bg-influenza {
  background-image: linear-gradient(to right, #480048, #C04848) !important;
  color: #fff !important;
}

.bg-calm-daria {
  background-image: linear-gradient(to right, #49a09d, #5f2c82) !important;
  color: #fff !important;
}

.bg-bourbon {
  background-image: linear-gradient(to right, #ec6f66, #f3a183) !important;
}

.bg-stellar {
  background-image: linear-gradient(to right, #7474bf, #348ac7) !important;
  color: #fff !important;
}

.bg-moonrise {
  background-image: linear-gradient(to right, #DAE2F8, #d6a4a4) !important;
}

.bg-peach {
  background-image: linear-gradient(to right, #ED4264, #FFEDBC) !important;
}

.bg-dracula {
  background-image: linear-gradient(to right, #DC2424, #4A569D) !important;
  color: #fff !important;
}

.bg-mantle {
  background-image: linear-gradient(to right, #24C6DC, #514A9D) !important;
  color: #fff !important;
}

.bg-opa {
  background-image: linear-gradient(to right, #3D7EAA, #FFE47A) !important;
}

.bg-decent {
  background-image: linear-gradient(to right, #C4E0E5, #4CA1AF) !important;
}

.bg-portrait {
  background-image: linear-gradient(to right, #ffffff, #cfdef3) !important;
}

.bg-sea {
  background-image: linear-gradient(to right, #1CD8D2, #93EDC7) !important;
}

.bg-shroom {
  background-image: linear-gradient(to right, #5C258D, #4389A2) !important;
  color: #fff !important;
}

.bg-moss {
  background-image: linear-gradient(to right, #134E5E, #71B280) !important;
  color: #fff !important;
}

.bg-bora {
  background-image: linear-gradient(to right, #2BC0E4, #EAECC6) !important;
  color: #fff !important;
}

.bg-venice {
  background-image: linear-gradient(to right, #085078, #85D8CE) !important;
  color: #fff !important;
}

.bg-violet {
  background-image: linear-gradient(to right, #4776E6, #8E54E9) !important;
  color: #fff !important;
}

.bg-kashmir {
  background-image: linear-gradient(to right, #614385, #516395) !important;
  color: #fff !important;
}

.bg-orange {
  background-image: linear-gradient(to right, #FF8008, #FFC837) !important;
}

.bg-cherry {
  background-image: linear-gradient(to right, #EB3349, #F45C43) !important;
  color: #fff !important;
}

.bg-pinky {
  background-image: linear-gradient(to right, #DD5E89, #F7BB97) !important;
}

.bg-purple-gradient {
  background-image: linear-gradient(to right, #1D2B64, #F8CDDA) !important;
  color: #fff !important;
}

.bg-blue {
  background-color: #1e88e5 !important;
  color: #fff;
}

.bg-blue {
  background-color: $blue !important;
}

.bg-red {
  background-color: $red !important;
}

.bg-yellow {
  background-color: $yellow !important;
}

.bg-aqua {
  background-color: $aqua !important;
}

.bg-black {
  background-color: $black !important;
  color: #fff;
}

.bg-light-blue {
  background-color: $light-blue !important;
}

.bg-green {
  background-color: $green !important;
}

.bg-gray {
  background-color: $gray !important;
}

.bg-navy {
  background-color: $navy !important;
}

.bg-teal {
  background-color: $teal !important;
}

.bg-olive {
  background-color: $olive !important;
}

.bg-lime {
  background-color: $lime !important;
}

.bg-orange {
  background-color: $orange !important;
}

.bg-fuchsia {
  background-color: $fuchsia !important;
}

.bg-purple {
  background-color: $purple !important;
}

.bg-maroon {
  background-color: $maroon !important;
}