.b-b-1 {
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
}

.b-b-2 {
  border-bottom-style: solid !important;
  border-bottom-width: 2px !important;
}

.b-b-3 {
  border-bottom-style: solid !important;
  border-bottom-width: 3px !important;
}

.b-b-4 {
  border-bottom-style: solid !important;
  border-bottom-width: 4px !important;
}

.b-b-5 {
  border-bottom-style: solid !important;
  border-bottom-width: 5px !important;
}

.b-t-1 {
  border-top-style: solid !important;
  border-top-width: 1px !important;
}

.b-t-2 {
  border-top-style: solid !important;
  border-top-width: 2px !important;
}

.b-t-3 {
  border-top-style: solid !important;
  border-top-width: 3px !important;
}

.b-t-4 {
  border-top-style: solid !important;
  border-top-width: 4px !important;
}

.b-t-5 {
  border-top-style: solid !important;
  border-top-width: 5px !important;
}

.b-r-1 {
  border-right-style: solid !important;
  border-right-width: 1px !important;
}

.b-r-2 {
  border-right-style: solid !important;
  border-right-width: 2px !important;
}

.b-r-3 {
  border-right-style: solid !important;
  border-right-width: 3px !important;
}

.b-r-4 {
  border-right-style: solid !important;
  border-right-width: 4px !important;
}

.b-r-5 {
  border-right-style: solid !important;
  border-right-width: 5px !important;
}

.b-l-1 {
  border-left-style: solid !important;
  border-left-width: 1px !important;
}

.b-l-2 {
  border-left-style: solid !important;
  border-left-width: 2px !important;
}

.b-l-3 {
  border-left-style: solid !important;
  border-left-width: 3px !important;
}

.b-l-4 {
  border-left-style: solid !important;
  border-left-width: 4px !important;
}

.b-l-5 {
  border-left-style: solid !important;
  border-left-width: 5px !important;
}

.b-blue {
  border-color: $blue
}

.b-red {
  border-color: $red !important;
}

.b-yellow {
  border-color: $yellow !important;
}

.b-aqua {
  border-color: $aqua !important;
}

.b-black {
  border-color: $black !important;
}

.b-light-blue {
  border-color: $light-blue !important;
}

.b-green {
  border-color: $green !important;
}

.b-gray {
  border-color: $gray !important;
}

.b-navy {
  border-color: $navy !important;
}

.b-teal {
  border-color: $teal !important;
}

.b-olive {
  border-color: $olive !important;
}

.b-lime {
  border-color: $lime !important;
}

.b-orange {
  border-color: $orange !important;
}

.b-fuchsia {
  border-color: $fuchsia !important;
}

.b-purple {
  border-color: $purple !important;
}

.b-maroon {
  border-color: $maroon !important;
}