.t-center {
  text-align: center !important;
}

.t-left {
  text-align: left !important;
}

.t-right {
  text-align: right !important;
}

.f-s-10 {
  font-size: 10px !important;
}

.f-s-12 {
  font-size: 12px !important;
}

.f-s-14 {
  font-size: 14px !important;
}

.f-s-16 {
  font-size: 16px !important;
}

.f-s-18 {
  font-size: 18px !important;
}

.f-s-20 {
  font-size: 20px !important;
}

.f-s-22 {
  font-size: 22px !important;
}

.f-s-24 {
  font-size: 24px !important;
}

.f-s-26 {
  font-size: 26px !important;
}

.f-s-30 {
  font-size: 30px !important;
}

.f-s-36 {
  font-size: 36px !important;
}

.f-s-42 {
  font-size: 42px !important;
}

.f-s-48 {
  font-size: 48px !important;
}

.f-s-52 {
  font-size: 52px !important;
}

.f-s-54 {
  font-size: 30px !important;
}

.f-s-56 {
  font-size: 36px !important;
}

.f-s-58 {
  font-size: 42px !important;
}

.f-s-60 {
  font-size: 48px !important;
}

.f-s-62 {
  font-size: 52px !important;
}

.l-h-10 {
  line-height: 10px !important;
}

.l-h-12 {
  line-height: 12px !important;
}

.l-h-14 {
  line-height: 14px !important;
}

.l-h-16 {
  line-height: 16px !important;
}

.l-h-18 {
  line-height: 18px !important;
}

.l-h-20 {
  line-height: 20px !important;
}

.l-h-22 {
  line-height: 22px !important;
}

.l-h-24 {
  line-height: 24px !important;
}

.l-h-26 {
  line-height: 26px !important;
}

.l-h-30 {
  line-height: 30px !important;
}

.l-h-36 {
  line-height: 36px !important;
}

.l-h-42 {
  line-height: 42px !important;
}

.l-h-48 {
  line-height: 48px !important;
}

.l-h-52 {
  line-height: 52px !important;
}

.f-left {
  float: left !important;
}

.f-right {
  float: right !important;
}

.t-muted {
  color: #999 !important;
}

.t-thin {
  font-weight: 200 !important;
}

.t-bold {
  font-weight: 700 !important;
}

.t-white {
  color: rgb(31, 24, 24) !important;
}

.t-blue {
  color: $blue !important;
}

.t-red {
  color: $red !important;
}

.t-yellow {
  color: $yellow !important;
}

.t-aqua {
  color: $aqua !important;
}

.t-black {
  color: $black !important;
}

.t-light-blue {
  color: $light-blue !important;
}

.t-green {
  color: $green !important;
}

.t-gray {
  color: $gray !important;
}

.t-dark-gray {
  color: $dark-gray !important;
}

.t-navy {
  color: $navy !important;
}

.t-teal {
  color: $teal !important;
}

.t-olive {
  color: $olive !important;
}

.t-lime {
  color: $lime !important;
}

.t-orange {
  color: $orange !important;
}

.t-fuchsia {
  color: $fuchsia !important;
}

.t-purple {
  color: $purple !important;
}

.t-maroon {
  color: $maroon !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal !important;
}

.blue {
  color: $blue;
}

a {
  color: $blue;
}