$red: #ea6b5b;
$yellow: #fffb8b;
$aqua: #00c0ef;
$blue: #1e88e5;
$black: #333;
$light-blue: #3c8dbc;
$green: #00a65a;
$gray: #d2d6de;
$dark-gray: #555;
$navy: #001f3f;
$teal: #39cccc;
$olive: #3d9970;
$lime: #01ff70;
$orange: #ff851b;
$fuchsia: #f012be;
$purple: #605ca8;
$maroon: #d81b60;